@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply pt-[70px] xl:pt-[77px];
  }
}
@layer components {
  .btn {
    @apply inline-block font-medium px-4 py-2 rounded-md border-2 transition-colors duration-300;
  }
  .btn-primary {
    @apply bg-primary text-text-color-alt border-primary hover:bg-transparent hover:text-primary;
  }
  .btn-outline {
    @apply border-primary text-primary hover:bg-primary hover:text-text-color-alt;
  }
}

div:where(.swal2-container) div:where(.swal2-popup) {
  @apply !bg-secondary !text-white;
}
div:where(.swal2-icon).swal2-warning {
  @apply !text-[#d33] !border-[#d33]
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  @apply !text-text-color-alt;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  @apply !bg-primary !text-text-color-alt;
}